.SliderTwoCard_wrapper{
    width: 100%;
    text-align: center;
    img{
        margin: 0 auto 35px auto;
    }
    h3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: #000000;
        margin-bottom: 17px;
    }
    a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: #C6BFBF;
    }

}