.SliderThreCard_wrapper{
    position: relative;
    span{
        position: absolute;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
        bottom: 30px;
        left: 20px;
    }
}